<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="{ loading : currentDatos_Estaticos_Loading$ | async ,
                        datos : currentDatos_Estaticos$ | async , loadingPingbyid : CurrentPingbiiploading$ | async
  } as data ">


  <!-- <h1 *ngIf="data.loading">Cargando</h1>
  <div *ngIf="!data.loading">
    {{data.datos |  json}}
  </div> -->
  <ion-progress-bar *ngIf="data.loading === true" type="indeterminate"></ion-progress-bar>

  <div *ngIf="data.loading === false" >

    <div *ngFor="let servidores of data.datos || []; let i = index">

      <ion-card *ngIf="servidores.show == null" color="{{servidores.estado ? 'success' : 'danger'}}">
      <!-- <ion-card *ngIf="!data.loadingPingbyid && index !== i" color="{{servidores.mensaje.includes('con conexión') ? 'success' : 'danger'}}"> -->
        <ion-card-header>
          <ion-card-title> Nombre : {{servidores.servidor}}</ion-card-title>
          <ion-card-subtitle> Ip : {{servidores.ip}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          {{servidores.mensaje}}
        </ion-card-content>
        <!-- <h1  *ngIf="data.loadingPingbyid && index === i"> cargando</h1> -->
      
        <ion-button (click)="getPingbyip(servidores , i)" fill="clear">Consultar estado del servidor</ion-button>
      </ion-card>
      <h1 *ngIf="servidores.show != null">Cargando</h1>

     
      <!-- <ion-progress-bar *ngIf="data.loadingPingbyid" type="indeterminate"></ion-progress-bar> -->
  <!-- 
      <ion-card >
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      
        <ion-button fill="clear">Action 1</ion-button>
      </ion-card> -->
  
    </div>
   

  </div>



</ng-container>

 

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
<!-- <ng-container *ngIf="{ loading : currentDataLoading$ | async ,
                        datos : currentnData$ | async
} as data ">


  <h1 *ngIf="data.loading">Cargando</h1>
  <div *ngIf="!data.loading">
    {{data.datos |  json}}
  </div>


</ng-container> -->

<!-- <h1 *ngIf="dataloading">Cargando</h1>
<div *ngIf="!dataloading && datas">
  {{datas |  json}}
</div> -->


</ion-content>
